{% extends 'base.html' %}

{% block content %}
<p style="font-size:30px">
	Agents,
	<br/>
	<br/>
	Un informateur 🕵️‍♀️ nous a transmis le message codé suivant:
	<br/>
	<br/>
	://__>___/_>___/__>_/_____>_/
	<br/>
	<br/>
	➡️=>
	<br/>
	<br/>
	Nos meilleurs cryptologistes ne sont encore pas parvenus à l'interpréter.
	Le temps presse⏱️ car selon nos informations, il est primordial de
	le décoder avant le 5 juin.
	<br/>
	C'est pourquoi, nous nous sommes résolus à faire appel à votre expertise.
	<br/>
	<br/>
	<br/>
	Trois règles:
	<br/> - 🤐 Restez discrets
	<br/> - 👩‍💻 Signalez vous sur cet
	<a href="http://facebook.com/groups/savethedatedavidetmarie">  espace chiffré </a>
	<br/> - 📵 Ne communiquez qu'à travers lui 
	<br/>
</p>

{% endblock %}
