{% extends 'base.html' %}

{% block head %}
<!-- <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='aubergine/apple-touch-icon.png')}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='aubergine/favicon-32x32.png')}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='aubergine/favicon-16x16.png')}}"> -->
{% endblock %}

{% block content %}
<meta charset="utf-8">
<p style="font-size:30px">
Code Level 3 : ✅
<br/>
👫👩‍❤️‍👨➡️👰‍♀️💍🤵‍♂️
<br/>
👨‍🎓➡️🇫🇷✈️🇺🇸
<br/>
📖🍰➡️👩‍🍳
<br/>
<br/>
<img id="failimg"  src="{{ image_url }}" width="500" alt="Fail">
<br/>
</p>
{% endblock %}
